trained_model/*
finetuned_model/*
testing/*
test-tfrecords-output/*
train-tfrecords-output/*
images/*
trained_model-modified/*
finetuned_model-modified/*
testing-modified/*
test-tfrecords-output-modified/*
train-tfrecords-output-modified/*
dst_dir/*